<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Experiment | Weather App</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div id="app">
      <div id="container">
        <h1>What's the weather like?</h1>
        <hr />
        <div id="currentLocation" class="box">
          <div>
            <button v-on:click="toggleTemp()">Toggle °C/°F</button>
            <p> {{ currentLocation }} </p>
            <div>
              <img class="weatherContent" v-bind:src="currWeatherIcon" />
              <span class="weatherContent">{{ currentWeather }}</span>
              <span class="weatherContent" v-if="displayCelsius">{{ currTempC }}</span>
              <span class="weatherContent" v-else>{{ currTempF }}</span>
            </div>
          </div>
        </div>
        <div id="searchOtherLocation" class="box">
          <input type="text" placeholder="Search another location" v-model="searchLocation"/>
          <br />
          <div v-if="isSearching">
            <p>Showing weather for {{displayLocation}}</p>
            <div>
              <img class="weatherContent" v-bind:src="weatherIcon" />
              <span class="weatherContent">{{ weatherForLocation }}</span>
              <span class="weatherContent" v-if="displayCelsius">{{ tempC }}</span>
              <span class="weatherContent" v-else>{{ tempF }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="vueApp.js"></script>

</html>
