body {
  background-color: lightblue;
  text-align: center;
}

.box {
  margin: auto;
  margin-top: 5px;
  width: 50%;
}

.box img {
  margin: auto;
}

.weatherContent {
  display: block;
  padding: 2px 2px;
}
